@import '@xyflow/react/dist/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #05070f;
  color: white;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}

.react-flow__node {
  border: none !important;
  background: transparent !important;
}